/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=f7181dee-e55d-40c2-b8c1-65c5e1100405");
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "TradeGothicW01-BoldCn20 675334";
  src: url("../fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff");
}
/* line 37, ../sass/screen.scss */
* {
  box-sizing: border-box;
  z-index: 1;
}

/* line 41, ../sass/screen.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@media (max-width: 1340px) {
  /* line 41, ../sass/screen.scss */
  html {
    font-size: 18px;
  }
}
@media (max-width: 950px) {
  /* line 41, ../sass/screen.scss */
  html {
    font-size: 16px;
  }
}

/* line 54, ../sass/screen.scss */
.large-1 {
  width: 25%;
}
@media (max-width: 550px) {
  /* line 54, ../sass/screen.scss */
  .large-1 {
    width: 100%;
  }
}

/* line 60, ../sass/screen.scss */
.large-2 {
  width: 50%;
}
@media (max-width: 550px) {
  /* line 60, ../sass/screen.scss */
  .large-2 {
    width: 100%;
  }
}

/* line 66, ../sass/screen.scss */
.large-3 {
  width: 75%;
}
@media (max-width: 550px) {
  /* line 66, ../sass/screen.scss */
  .large-3 {
    width: 100%;
  }
}

/* line 72, ../sass/screen.scss */
.large-4 {
  width: 100%;
}

@media (max-width: 950px) {
  /* line 78, ../sass/screen.scss */
  .medium-1 {
    width: 25%;
  }
}

@media (max-width: 950px) {
  /* line 83, ../sass/screen.scss */
  .medium-3 {
    width: 75%;
  }
}

@media (max-width: 950px) {
  /* line 88, ../sass/screen.scss */
  .medium-2 {
    width: 50%;
  }
}

@media (max-width: 950px) {
  /* line 93, ../sass/screen.scss */
  .medium-4 {
    width: 100%;
  }
}

@media (max-width: 550px) {
  /* line 100, ../sass/screen.scss */
  .small-1 {
    width: 25%;
  }
}

@media (max-width: 550px) {
  /* line 105, ../sass/screen.scss */
  .small-2 {
    width: 50%;
  }
}

@media (max-width: 550px) {
  /* line 110, ../sass/screen.scss */
  .small-3 {
    width: 75%;
  }
}

@media (max-width: 550px) {
  /* line 115, ../sass/screen.scss */
  .small-4 {
    width: 100%;
  }
}

/* line 122, ../sass/screen.scss */
#header {
  background: url(../img/header-photo.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 550px) {
  /* line 122, ../sass/screen.scss */
  #header {
    background-size: 180%;
  }
}
/* line 129, ../sass/screen.scss */
#header .logo {
  clear: both;
  margin-right: 75%;
}
@media (max-width: 950px) {
  /* line 129, ../sass/screen.scss */
  #header .logo {
    width: 25%;
  }
}
/* line 135, ../sass/screen.scss */
#header .logo img {
  width: 100%;
}
/* line 139, ../sass/screen.scss */
#header .title {
  margin: -4px 0 0 25%;
  background-color: rgba(0, 107, 133, 0.7);
  height: 300px;
  position: relative;
}
@media (max-width: 950px) {
  /* line 139, ../sass/screen.scss */
  #header .title {
    margin-left: 25%;
    height: 200px;
  }
}
/* line 148, ../sass/screen.scss */
#header .title h2 {
  font-size: 180px;
  text-align: right;
  position: absolute;
  bottom: -15px;
  right: 0px;
}
@media (max-width: 1340px) {
  /* line 148, ../sass/screen.scss */
  #header .title h2 {
    font-size: 150px;
  }
}
@media (max-width: 950px) {
  /* line 148, ../sass/screen.scss */
  #header .title h2 {
    font-size: 100px;
    bottom: -10px;
  }
}
@media (max-width: 550px) {
  /* line 148, ../sass/screen.scss */
  #header .title h2 {
    font-size: 80px;
    bottom: -10px;
  }
}

/* line 173, ../sass/screen.scss */
.specialblock {
  display: inline-block;
  float: left;
}

/* line 177, ../sass/screen.scss */
.block {
  position: relative;
  height: 300px;
  display: inline-block;
  float: left;
  overflow: hidden;
  padding: 30px;
}
@media (max-width: 1340px) {
  /* line 177, ../sass/screen.scss */
  .block {
    padding: 20px;
  }
}
@media (max-width: 950px) {
  /* line 177, ../sass/screen.scss */
  .block {
    height: 300px;
  }
}
@media (max-width: 550px) {
  /* line 177, ../sass/screen.scss */
  .block {
    height: 275px;
  }
}
/* line 193, ../sass/screen.scss */
.block.green {
  background-color: #8cc24b;
  color: #699238;
}
/* line 197, ../sass/screen.scss */
.block.teal {
  background-color: #006b85;
  color: #005064;
}
/* line 201, ../sass/screen.scss */
.block.light-blue {
  background-color: #83d2e4;
  color: #59a5b2;
}
/* line 205, ../sass/screen.scss */
.block.orange {
  background-color: #eb8e2d;
  color: #b06b22;
}
/* line 209, ../sass/screen.scss */
.block * {
  display: block;
  z-index: 200;
  position: relative;
}

/* line 216, ../sass/screen.scss */
.doubleheight {
  height: 600px;
}

/* line 224, ../sass/screen.scss */
h4 {
  margin: 5px 0 30px;
  line-height: 1.3;
}

/* line 228, ../sass/screen.scss */
h2, h3, h5 {
  font-family: "TradeGothicW01-BoldCn20 675334", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 0.9;
  letter-spacing: -2px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

/* line 241, ../sass/screen.scss */
h2, h3 {
  color: #fff;
  font-size: 80px;
}
@media (max-width: 1340px) {
  /* line 241, ../sass/screen.scss */
  h2, h3 {
    font-size: 80px;
  }
}
@media (max-width: 950px) {
  /* line 241, ../sass/screen.scss */
  h2, h3 {
    font-size: 90px;
  }
}
@media (max-width: 550px) {
  /* line 241, ../sass/screen.scss */
  h2, h3 {
    font-size: 60px;
  }
}

/* line 254, ../sass/screen.scss */
h5 {
  font-size: 80px;
}
@media (max-width: 1340px) {
  /* line 254, ../sass/screen.scss */
  h5 {
    font-size: 80px;
  }
}
@media (max-width: 950px) {
  /* line 254, ../sass/screen.scss */
  h5 {
    font-size: 90px;
  }
}
@media (max-width: 550px) {
  /* line 254, ../sass/screen.scss */
  h5 {
    font-size: 50px;
    letter-spacing: 0px;
  }
}

/* line 267, ../sass/screen.scss */
p {
  line-height: 1.3;
}

/* line 270, ../sass/screen.scss */
.small {
  font-size: 14px;
}
@media (max-width: 550px) {
  /* line 270, ../sass/screen.scss */
  .small {
    font-size: 16px;
  }
}

/* line 277, ../sass/screen.scss */
.data {
  margin-top: 40px;
}
/* line 279, ../sass/screen.scss */
.data .data-left {
  float: left;
  width: 47%;
  margin-right: 3%;
}
/* line 284, ../sass/screen.scss */
.data h5 + p {
  margin-top: 5px;
  margin-bottom: 45px;
  font-size: 14px;
}

/* line 291, ../sass/screen.scss */
.blocklink .block:before {
  content: " ";
  display: block;
  width: 3000px;
  height: 3000px;
  background-color: #fff;
  position: absolute;
  bottom: -2525px;
  right: -2525px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  z-index: 100;
  transition: all 0.5s;
}

/* line 307, ../sass/screen.scss */
.blocklink:hover h3, .blocklink:hover h4, .blocklink:hover h5, .blocklink:hover p {
  transition: all 0.1s;
}
/* line 311, ../sass/screen.scss */
.blocklink:hover .green h3, .blocklink:hover .green h4, .blocklink:hover .green h5, .blocklink:hover .green p {
  color: #8cc24b;
}
/* line 317, ../sass/screen.scss */
.blocklink:hover .teal h3, .blocklink:hover .teal h4, .blocklink:hover .teal h5, .blocklink:hover .teal p {
  color: #006b85;
}
/* line 322, ../sass/screen.scss */
.blocklink:hover .orange h3, .blocklink:hover .orange h4, .blocklink:hover .orange h5, .blocklink:hover .orange p, .blocklink:hover .orange a {
  color: #eb8e2d;
}
/* line 327, ../sass/screen.scss */
.blocklink:hover .light-blue h3, .blocklink:hover .light-blue h4, .blocklink:hover .light-blue h5, .blocklink:hover .light-blue p {
  color: #83d2e4;
}
/* line 331, ../sass/screen.scss */
.blocklink:hover h3 {
  transition: all 0.25s;
}
/* line 335, ../sass/screen.scss */
.blocklink:hover h5, .blocklink:hover p {
  transition: all 0.25s;
}

/* line 340, ../sass/screen.scss */
.blocklink:hover .block:before {
  transform: rotate(45deg);
  bottom: -1500px;
  right: -1500px;
}

@media (max-width: 550px) {
  /* line 347, ../sass/screen.scss */
  .media-features {
    width: 100%;
  }
}

/* line 353, ../sass/screen.scss */
a .feature {
  text-decoration: none;
  transition: all 0.25s;
}
@media (max-width: 550px) {
  /* line 353, ../sass/screen.scss */
  a .feature {
    width: 100%;
    height: auto;
  }
}
/* line 361, ../sass/screen.scss */
a .feature:hover {
  opacity: 0.75;
}
/* line 364, ../sass/screen.scss */
a .feature p {
  font-size: 16px;
}
@media (max-width: 550px) {
  /* line 364, ../sass/screen.scss */
  a .feature p {
    font-size: 18px;
  }
}
/* line 370, ../sass/screen.scss */
a .feature p, a .feature h6 {
  color: #fff;
}
/* line 373, ../sass/screen.scss */
a .feature h6 {
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 550px) {
  /* line 373, ../sass/screen.scss */
  a .feature h6 {
    font-size: 24px;
  }
}

/* line 387, ../sass/screen.scss */
.intro .text p {
  margin-top: 15px;
  font-size: 24px;
}
@media (max-width: 550px) {
  /* line 387, ../sass/screen.scss */
  .intro .text p {
    font-size: 20px;
  }
}

/* line 394, ../sass/screen.scss */
.work-smart {
  padding: 0;
}
/* line 396, ../sass/screen.scss */
.work-smart .data {
  margin-top: 0;
}

/* line 400, ../sass/screen.scss */
.photo-1 {
  background: url(../img/middle-2-photo.jpg) center center no-repeat;
  background-size: cover;
}
@media (max-width: 550px) {
  /* line 400, ../sass/screen.scss */
  .photo-1 {
    background-size: 180%;
  }
}

/* line 407, ../sass/screen.scss */
.photo-2 {
  background: url(../img/lower-1-photo.jpg) center center no-repeat;
  background-size: cover;
}
@media (max-width: 550px) {
  /* line 407, ../sass/screen.scss */
  .photo-2 {
    background-size: 180%;
  }
}

/* line 414, ../sass/screen.scss */
.noma-today {
  background: url(../img/lower-1-photo2.jpg) center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 107, 133, 0.7);
}
@media (max-width: 550px) {
  /* line 414, ../sass/screen.scss */
  .noma-today {
    background-size: 180%;
  }
}
/* line 421, ../sass/screen.scss */
.noma-today h4 {
  color: #fff;
}

/* line 425, ../sass/screen.scss */
.section {
  height: 300px;
  padding: 30px;
}
@media (max-width: 950px) {
  /* line 425, ../sass/screen.scss */
  .section {
    height: auto;
  }
}

/* line 432, ../sass/screen.scss */
.sign-up {
  background: url(../img/lower-2-photo.jpg) center center no-repeat;
  background-size: cover;
  box-shadow: inset 1000px 0 0 0 rgba(235, 142, 45, 0.8);
}
/* line 433, ../sass/screen.scss */
.sign-up a {
  display: inline;
  color: #fff;
  text-decoration: underline;
  transition: all 0.25s;
}
/* line 438, ../sass/screen.scss */
.sign-up a:hover {
  text-decoration: none;
  opacity: 0.75;
}
/* line 443, ../sass/screen.scss */
.sign-up h3 {
  margin-bottom: 30px;
}
/* line 446, ../sass/screen.scss */
.sign-up p {
  color: #fff;
  line-height: 1.4;
}
@media (max-width: 550px) {
  /* line 432, ../sass/screen.scss */
  .sign-up {
    background-size: 180%;
  }
}

/* line 458, ../sass/screen.scss */
.connect-with-us h3 {
  margin-bottom: 30px;
}
/* line 461, ../sass/screen.scss */
.connect-with-us ul {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
/* line 465, ../sass/screen.scss */
.connect-with-us ul a {
  text-decoration: none;
  color: #fff;
  transition: all 0.25s;
}
/* line 469, ../sass/screen.scss */
.connect-with-us ul a:hover {
  opacity: 0.75;
}
/* line 474, ../sass/screen.scss */
.connect-with-us ul li {
  margin-bottom: 40px;
}
/* line 477, ../sass/screen.scss */
.connect-with-us ul i, .connect-with-us ul i:before {
  display: inline-block;
}
/* line 480, ../sass/screen.scss */
.connect-with-us ul a {
  display: inline;
}
/* line 483, ../sass/screen.scss */
.connect-with-us ul i {
  width: 35px;
  height: 50px;
  float: left;
}
/* line 488, ../sass/screen.scss */
.connect-with-us ul .fa-envelope + a {
  text-decoration: underline;
}

/* line 493, ../sass/screen.scss */
.credit {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  width: 100%;
  padding: 30px;
}
@media (max-width: 550px) {
  /* line 493, ../sass/screen.scss */
  .credit {
    position: relative;
    text-align: left;
    padding: 0;
  }
}
/* line 505, ../sass/screen.scss */
.credit a {
  display: inline-block;
  color: #699238;
}
