/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";

 @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=f7181dee-e55d-40c2-b8c1-65c5e1100405");

 @font-face{
 	font-family:"TradeGothicW01-BoldCn20 675334";
 	src:url("../fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff");
 }

// SIZES
$large-screen: 1340px;
$medium-screen: 950px;
$small-screen: 500px;

// FONTS
$heading-font: 'TradeGothicW01-BoldCn20 675334', Helvetica, Arial, sans-serif;
$text-font: Helvetica, Arial, sans-serif;

// COLORS
$light-blue: #83d2e4;
$light-blue-text: #59a5b2;
//
$orange: #eb8e2d;
$orange-text: #b06b22;
//
$green: #8cc24b;
$green-text: #699238;
//
$teal: #006b85;
$teal-text: #005064;

*{
	box-sizing: border-box;
	z-index: 1;
}
html{
	font-family: $text-font;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	@media(max-width: $large-screen){
		font-size: 18px;
	}
	@media(max-width: $medium-screen){
		font-size: 16px;
	}
}

.large-1{
	width: 25%;
	@media(max-width: $medium-screen){
		width: 100%;
	}
}
.large-2{
	width: 50%;
	@media(max-width: $medium-screen){
		width: 100%;
	}
}
.large-3{
	width: 75%;
	@media(max-width: $medium-screen){
		width: 100%;
	}
}
.large-4{
	width: 100%;
}


// HEADER
#header{
	background: url(../img/header-photo.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	.logo {
		clear:both;
		margin-right: 75%;
		@media(max-width:$medium-screen){
			width: 25%;
		}
		img{
			width: 100%;
		}
	}
	.title{
		margin:-4px 0 0 25%;
		background-color: rgba(0,107, 133, 0.7);
		height: 300px;
		position: relative;
		@media(max-width:$medium-screen){
			margin-left: 25%;
			height: 200px;
		}
		h2{
			font-size: 180px;
			text-align: right;
			position: absolute;
			bottom: -15px;
			right: 0px;
			@media(max-width:$large-screen){
				font-size: 150px;
			}
			@media(max-width:$medium-screen){
				font-size: 100px;
				bottom: -10px;
			}
			@media(max-width:$small-screen){
				font-size: 80px;
				bottom: -10px;
			}
		}

	}
}




.specialblock{
	display: inline-block;
	float: left;
}
.block{
	position: relative;
	height: 300px;
	display: inline-block;
	float: left;
	overflow: hidden;
	padding: 30px;
	@media(max-width: $large-screen){
		padding: 20px;
	}
	@media(max-width: $medium-screen){
		height: 300px;
	}
	&.green{
		background-color: $green;
		color: $green-text;
	}
	&.teal{
		background-color: $teal;
		color: $teal-text;
	}
	&.light-blue{
		background-color: $light-blue;
		color: $light-blue-text;
	}
	&.orange{
		background-color: $orange;
		color: $orange-text;
	}
	*{
		display: block;
		z-index: 200;
		position: relative;
	}
}

.doubleheight{
	height: 600px;
	@media(max-width: $medium-screen){
		height: auto;
	}
}


h4{
	margin: 5px 0 30px;
	line-height: 1.3;
}
h2, h3, h5{
	font-family: $heading-font;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 0.9;
	letter-spacing: -2px;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";

}
h2, h3{
	color: #fff;
	font-size: 80px;
	@media(max-width: $large-screen){
		font-size: 80px;
	}
	@media(max-width: $medium-screen){
		font-size: 90px;
	}
	@media(max-width: $small-screen){
		font-size: 60px;
	}
}
h5{
	font-size: 80px;
	@media(max-width: $large-screen){
		font-size: 80px;
	}
	@media(max-width: $medium-screen){
		font-size: 90px;
	}
	@media(max-width: $small-screen){
		font-size: 60px;
	}
}
p{
	line-height: 1.3;
}
.small{
	font-size: 14px;
}

.data{
	margin-top: 40px;
	.data-left{
		float: left;
		width: 50%;
	}
	h5 + p{
		margin-top: 5px;
		margin-bottom: 45px;
	}
}

.blocklink .block:before{
	content:" ";
	display: block;
	width: 3000px;
	height: 3000px;
	background-color: #fff;
	position: absolute;
	bottom: -2525px;
	right: -2525px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
	z-index: 100;
	transition: all 0.5s;
}
.blocklink:hover {
	h3, h4, h5, p{
		transition: all 0.1s;
	}
	.green{
		h3, h4, h5, p{
			
			color: $green;
		}
	}
	.teal{
		h3, h4, h5, p{
			color: $teal;
		}
	}
	.orange{
		h3, h4, h5, p, a{
			color: $orange;
		}
	}
	.light-blue{
		h3, h4, h5, p{
			color: $light-blue;
		}
	}
	h3{
		transition: all 0.25s;
		// color: #333;
	}
	h5, p{
		// color: #333;
		transition: all 0.25s;
	}
}
.blocklink:hover .block:before{
	transform: rotate(45deg);
	bottom: -1500px;
	right: -1500px;
}


.media-features{
		@media(max-width: $small-screen){
		width: 100%;
	}
}
a{
	.feature{
		text-decoration: none;
		transition: all 0.25s;
			@media(max-width: $small-screen){
			width: 100%;
		}
		
		&:hover{
			opacity: 0.75;
		}
		p{
			font-size: 16px;
				@media(max-width: $small-screen){
					font-size: 18px;
				}
		}
		p, h6{
			color: #fff;
		}
		h6{
			font-weight: bold;
			margin-bottom: 20px;
			@media(max-width: $small-screen){
					font-size: 24px;
			}
		}

	}
}



// VARIATIONS
.intro p{
	font-size: 24px;
	@media(max-width: $small-screen){
		font-size: 20px;
	}
}
.work-smart{
	padding: 0;
	.data{
		margin-top: 0;
	}
}
.photo-1{
	background: url(../img/middle-2-photo.jpg) center center no-repeat;
	background-size: cover;
}
.photo-2{
	background: url(../img/lower-1-photo.jpg) center center no-repeat;
	background-size: cover;
}
.noma-today{
	background: url(../img/lower-1-photo2.jpg) center center no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0, 107, 133, 0.7);
	h4{
		color: #fff;
	}
}
.section{
	height: 300px;
	padding: 30px;
	@media(max-width: $medium-screen){
		height: auto;
	}
}
.sign-up{
	a{
		display: inline;
		color: #fff;
		text-decoration: underline;
		transition: all 0.25s;
		&:hover{
			text-decoration: none;
			opacity: 0.75;
		}
	}
	h3{
		margin-bottom: 30px;
	}
	p{
		color: #fff;
		line-height: 1.4;
	}
	background: url(../img/lower-2-photo.jpg) center center no-repeat;
	background-size: cover;
	box-shadow: inset 1000px 0 0 0 rgba(235, 142, 45, 0.8);
}
.connect-with-us{
	h3{
		margin-bottom: 30px;
	}
	ul{
		font-size: 25px;
		font-weight: bold;
		color: #fff;
		a{
			text-decoration: none;
			color: #fff;
			transition: all 0.25s;
			&:hover{
				opacity: 0.75;
			}

		}
		li{
			margin-bottom: 40px;
		}
		i, i:before{
			display: inline-block;
		}
		a{
			display: inline;
		}
		i{
			width: 50px;
			height: 50px;
			float: left;
		}
		.fa-envelope + a{
			text-decoration: underline;
		}
	}
}
.credit{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	width: 100%;
	padding: 30px;
	@media(max-width: $small-screen){
		text-align: left;
	}
	a{
		display: inline-block;
		color: $green-text;
	}
}


